
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Document</title>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<style type="text/css">
		[v-cloak] {
			display: none;
		}
		.text {
		    font-size: 14px;
		  }

		  .item {
		    margin-bottom: 18px;
		  }

		  .clearfix:before,
		  .clearfix:after {
		    display: table;
		    content: "";
		  }
		  .clearfix:after {
		    clear: both
		  }

		  .box-card {
		    width: 100%;
		  }
	</style>
</head>

<div style="width: 80%; margin: 20px auto 0 auto;" id="app" v-cloak>
  <el-card class="box-card">
	  <div slot="header" class="clearfix">
	    <el-select v-model="value" placeholder="请选择">
		    <el-option
		      v-for="item in options"
		      :key="item.value"
		      :label="item.label"
		      :value="item.value">
		    </el-option>
		  </el-select>
	    <el-button type="primary" style="float: right;" size="small" @click="dialogVisible = true">上传广告</el-button>
	  </div>
	  <div class="text item" justify="end">
	  	<el-row type='flex' justify='space-between' v-for="(item,index) in advertList" :key="index">
			<el-col :span="16">{{ item.imgUrl }}</el-col>
			<el-button :span="8" type="danger" plain class="right" @click="delateAd(item.id)">删除</el-button>
		</el-row>
	  </div>
  </el-card>
	






  <el-dialog title="提示" :visible.sync="dialogVisible" :before-close="handleClose">
	<el-form ref="uploadAdverForm" :model="form" label-width="80px">
		  <el-form-item label="标题" prop='title' :rules="[
      { required: true, message: '标题不能为空'}
    ]">
	    <el-input v-model="form.title"></el-input>
	  </el-form-item>
	  <el-form-item label="内容" prop="content"  :rules="[
      { required: true, message: '内容不能为空'}
    ]">
	    <el-input v-model="form.content"></el-input>
	  </el-form-item>
	  <el-form-item label="跳转链接"  prop='link' :rules="[
      { required: true, message: '跳转链接不能为空'}
    ]">
	    <el-input v-model="form.link"></el-input>
	  </el-form-item>
	  <el-form-item label="广告位置">
	    <el-radio-group v-model="form.resource">
	      <el-radio label="firstPage">App开始页</el-radio>
	      <el-radio label="contentPage">首页顶部</el-radio>
	    </el-radio-group>
	  </el-form-item>
	  <el-form-item label="图片/视频">
	    
		<el-upload
		  :auto-upload="false"
		  :action="importFileUrl"
		  :data="upLoadData"
		  class="upload-demo"
		  :on-preview="handlePreview"
		  :on-remove="handleRemove"
		  :before-remove="beforeRemove"
		  :on-change="beforeAvatarUpload"
		  multiple
		  :limit="1"
		  :on-exceed="handleExceed"
		  :file-list="fileList"
		  :on-success="successUploadFile"
		  :on-error="errorUploadFile"
		  ref="upload"
		  name="upload"
		>
		  <el-button size="small" type="primary">点击选择文件</el-button>
		</el-upload>
	  </el-form-item>
	</el-form>
  	<span slot="footer" class="dialog-footer">
	    <el-button @click="dialogVisible = false">取 消</el-button>
	    <el-button type="primary" @click="sureUploadAdver('uploadAdverForm')">确 定</el-button>
  	</span>
  </el-dialog>
</div>

<!-- import Vue before Element -->
<script src="./assets/js/vue.min.js"></script>
	<!-- 引入组件库 -->
<script src="./assets/js/element.js"></script>
<script src="./assets/js/axios.min.js"></script>
<script src="main.js"></script>
</body>
</html>